{% if kolla_base_distro in ['opensuse', 'sles'] %}
{% set keystone_cmd = 'httpd' %}
{% set keystone_dir = 'apache2/conf.d' %}
{% elif kolla_base_distro in ['ubuntu', 'debian'] %}
{% set keystone_cmd = 'apache2' %}
{% set keystone_dir = 'apache2/conf-enabled' %}
{% else %}
{% set keystone_cmd = 'httpd' %}
{% set keystone_dir = 'httpd/conf.d' %}
{% endif %}
{
    "command": "/usr/sbin/{{ keystone_cmd }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/keystone.conf",
            "dest": "/etc/keystone/keystone.conf",
            "owner": "keystone",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/wsgi-keystone.conf",
            "dest": "/etc/{{ keystone_dir }}/wsgi-keystone.conf",
            "owner": "keystone",
            "perm": "0644"
        }
    ]
}
