{% set keystone_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set keystone_dir = 'httpd' if kolla_base_distro in ['fedora', 'centos', 'oraclelinux', 'rhel'] else 'apache2' %}
{% set conf_dir = 'conf-enable' if kolla_base_distro in ['ubuntu', 'debian'] else 'conf.d' %}
{
    "command": "/usr/sbin/{{ keystone_cmd }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/keystone.conf",
            "dest": "/etc/keystone/keystone.conf",
            "owner": "keystone",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/wsgi-keystone.conf",
            "dest": "/etc/{{ keystone_dir }}/{{ conf_dir }}/wsgi-keystone.conf",
            "owner": "keystone",
            "perm": "0644"
        }
    ]
}
